{% for article in articles %}
<article class="article-item">

    {% if article.image|length != 'null' and article.image|length >= 1 %}
        <div class="image">
            <img src="{{article.image.url}}"/>
        </div>
    {% endif %}

    <div class="data">
        {% comment %} {% for arts in articles_in_use.all %} {% endcomment %}

            <h2>
                <a href="{% url 'article' article.id %}" >
                    {{article.title}} {{article.public}}
                </a>
            </h2>
            
            <p>
                {% for category in article.categories.all %}
                    <a href="{% url 'category' category.id %}">{{category.name}}</a>

                    {% comment %} el siguiente if sirve para agregar guion despues de cada categoria {% endcomment %}
                    {% if forloop.counter < article.categories.all|length %}
                        {{'-'}}
                    {% endif %}
                {% endfor %}
            </p>
            <span class="date">
                
                {{article.user.first_name}} {{article.user.last_name}}
                |
                {{article.created_at}}
            </span>
                
            <p>
                {{article.content|safe}}
                {% comment %} se coloca |safe para que el texto salga sin el html {% endcomment %}
            </p>
        
        {% comment %} {% endfor %} {% endcomment %}
        


    </div>
    
    <div class="clearfix"></div>
    
</article>            
{% endfor %}