{% extends 'layouts/layout.html' %}

{% block title %}  {{article.title}}  {% endblock %}

{% block content %}

    {% if article.image|length != 'null' and article.image|length >= 1 %}
    <div class="image">
        <img src="{{article.image.url}}" />
    </div>
    {% endif %}


    <h1 class="title">{{article.title}}</h1>

    <span class="date">{{article.created_at}}</span>

    <p class="content">
        {{article.content|safe}}
        {% comment %} se usa |safe para que la pagina interprete bien el texto ingresado en el panel de administracion {% endcomment %}
    </p>

{% endblock %}