{% extends 'layouts/layout.html' %}

{% block title %}  {{category.name}}  {% endblock %}

{% block content %}
    <h1 class="title">{{category.name}}</h1>
    <p>{{category.description}}</p>
    
    {% include 'articles/articles.html' with articles=category.articles.all %} 
    {% comment %}   colocamos with articles=category.articles.all 
                    porque el modelo Article está relacionado con Category
                    con esto mostramos los articulos que esten vinculados a cada categoria
    {% endcomment %}
{% endblock %}